html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* Styles for text. These are variable. */
:root {
  --accent-color: #f7654a;
  --dark-color: #404149;
  --gray-color: #999999;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
}

.text_h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}
.text_h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.text_h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
}

.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.text-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.header {
  min-height: 740px;
  background-image: url(../img/first-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  margin-bottom: 112px;
  padding-left: 9px;
}
.logo {
  width: 60px;
  height: 60px;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
}

.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: var(--white-color);
  margin-bottom: 4px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

.header__h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0 auto 15px;
  margin-left: 196px;
  color: var(--white-color);
}

.header__h4 {
  margin: 0 auto;
  max-width: 734px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.about {
  min-height: 1080px;
  position: relative;
  padding-top: 250px;
}

.info {
  position: absolute;
  top: -150px;
  padding: 57px 130px;
  margin-left: 8px;
  background-color: #f7f7f7;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1110px;
  width: 100%;
  min-height: 300px;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
.about__grid__item {
  text-align: center;
  width: 190px;
}
.about__h4 {
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  text-transform: uppercase;
  color: #f7654a;
  margin-bottom: 5px;
}
.about__h5 {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.about__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #999999;
}

.project-h2 {
  text-align: center;
  margin-bottom: 49px;
  padding-left: 13px;
}
.about__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__flex__item {
  max-width: 350px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.about__flex :last-child {
  margin-right: 0;
}

.about__flex__img {
  margin-bottom: 45px;
  margin-left: 9px;
}

.rectangle {
  width: 55px;
  height: 6px;
  background-color: #f7654a;
  margin-bottom: 15px;
  margin-left: 8px;
}

.project_h3 {
  color: var(--dark-color);
  margin-bottom: 12px;
  padding-left: 8px;
  padding-top: 2px;
}

.project_p {
  padding-left: 8px;
  color: var(--gray-color);
  font-weight: 400;
}

.about__flex :last-child {
  margin-right: 0;
}

.request {
  background-color: var(--accent-color);
}

.request-container {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
}

.banners {
  color: var(--white-color);
}
.big-banner {
  margin-top: 31px;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.small-banner {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.your-request-button {
  display: block;
  width: 175px;
  height: 49px;
  margin-top: 73px;
  margin-bottom: 58px;
  border-width: 0px;
}

.elements-in-button {
  display: flex;
  padding-left: 30px;
  padding-top: 14px;
}

.img-in-button {
  display: block;
  margin-right: 15px;
  margin-bottom: 14px;
}

.button-banner {
  width: 82px;
  height: 21px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.services {
  padding-top: 151px;
  margin-bottom: 116px;
}

.services-h2 {
  text-align: center;
  margin-bottom: 61px;
  margin-left: 16px;
}

.serveces-blocks {
  display: flex;
  flex-wrap: wrap;
}

.services-block {
  margin-bottom: 30px;
  padding-top: 59px;
  padding-left: 12px;
  width: 350px;
  height: 250px;
  margin-right: 30px;
  background-color: #f7f7f7;
}

.services-block:nth-child(3n) {
  margin-right: 0px;
}

.services-block-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
  width: 60px;
  height: 40px;
}

.service-h4 {
  margin: 0 auto;
  width: 172px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.portfolio {
  min-height: 814px;
  background-image: url(../img/portfolio.jpg);
}

.question {
  padding-top: 150px;
  padding-bottom: 109px;
}

.question .services-h2 {
  margin-bottom: 50px;
}

.question_items {
}
.question_item {
  padding-left: 9px;
}

.question_h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 21px;
  cursor: pointer;
}

.question_p {
  margin-bottom: 40px;
  color: var(--gray-color);
  max-width: 730px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.partners {
  padding-top: 100px;
  background-color: var(--dark-color);
  text-align: center;
  min-height: 364px;
  max-width: 1920px;
}

.container-parntners {
}

.partners-h2 {
  margin-right: -16px;
  margin-bottom: 49px;
  color: var(--white-color);
}

.partners-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.img {
  width: 170px;
  height: 61px;
  background-image: url(../img/partner-item.png);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1280px) {
  .partners-img {
    justify-content: center;
  }
  .img {
    margin-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .img {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.reviews {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 25px;
}

.reviews__h2 {
  text-align: center;
  margin-bottom: 60px;
}

.reviews__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.reviews__grid-item {
}

.reviews__card {
  background-color: #f7f7f7;
  padding: 30px;
  margin-bottom: 30px;
}

.reviews__quotes {
  font-size: 96px;
  color: var(--accent-color);
  line-height: 1;
  margin-bottom: -40px;
}

.reviews__h4 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
}

.reviews__autor-accent {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: var(--accent-color);
}

@media screen and (max-width: 1280px) {
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    padding: 100px 15px;
  }
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .about {
    padding: 450px 15px 110px 15px;
  }
  .info {
    margin-left: 0px;
  }
  .header__h1 {
    margin: 0px auto;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .info {
    position: relative;
  }
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.contacts {
  padding-top: 93px;
  padding-bottom: 124px;
  padding-left: 18px;
}

.h2_contacts {
  text-align: center;
  margin-bottom: 60px;
}

.grid__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.contacts__item {
  width: 100%;
  text-align: center;
}

.img_box {
  display: inline-block;
  width: 47px;
  height: 49px;
  margin-bottom: 12px;
}

.svg_img {
  width: 100%;
  height: 100%;
}

.name_item {
  text-transform: uppercase;
  color: var(--gray-color);
  margin-bottom: 19px;
}
.information {
  text-transform: uppercase;
}

.contacts__phone {
  text-decoration: none;
  color: #000000;
}

.contacts__email {
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .grid__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts__item {
    margin-bottom: 40px;
  }
  .header__title {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .grid__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer {
  background-color: var(--dark-color);
}
.flex__footer {
  display: flex;
  justify-content: space-between;
}

.container_footer-p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__p {
  color: var(--white-color);
}

@media screen and (max-width: 1280px) {
  .flex__footer {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .flex__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}